li{
    list-style-type: none;
    display: inline-block;
    margin: 5px;
}
li > a {
    text-decoration: none;
    padding: 5px;
    line-height: 30px;
}

li > a:hover {
    text-decoration: none;
    background-color: rgba(43, 43, 245, 0.945);
    
}

.navmain{
    list-style-type: none;
    display: inline-block;
    margin: 5px;
   
    
}
.navmain  a {
    text-decoration: none;
    padding: 5px;
    line-height: 30px;
    color:black;
    display: inline-block;
    border-radius: 5px;
    padding: 3px 10px;
}

.navmain > li > a:hover{
    text-decoration: none;
    background-color: #316DC3;
    display: inline-block;
    color: white;
    border-radius: 25px;
}
 
.line {

    width: 70px;
    margin-left: 250px;
    height: 3px;

    background-color:#427900 ;

    display: block;

}


.line1 {

    width: 70px;
    margin-left: 110px;
    height: 3px;
        
    background-color:#427900 ;

    display: block;

}